/*-------------------------- New CSS for Florida Department of Highway Safety and Motor Vehicles --------------------------*/
/*@import "vanilla_reset.css "; */


 
body {
	margin:0;
	padding: 0;
	line-height: 1.5em;
	font: 1.000em/100% Arial, Helvetica, sans-serif;
}

/*h1, h2, h3, h4, h5, h6 {
	font: arial;
}*/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


hgroup {
	width: 58.75em;
	padding: 0 0.938em;
	font: 'Arial Rounded MT bold', arial, helvetica;
	float: left;
}

.main_heading {
	color: #FFF;
}

.heading {
	color: #FFF;
	float: left;
}

.sub_heading {
	color: #FF0;
	float: right;
}



/* -------------------------- End of CSS RESET --------------------------*/

/* -------------------------- Start of BODY  --------------------------*/
body {
	width: 0 auto;
	background: #021526;
	font: arial;
}
/* -------------------------- End of BODY  --------------------------*/

/* -------------------------- Start of HEADER  --------------------------*/
header {
	overflow: hidden;
	border-top: 0.031em solid #5C7DF2;
	margin: 0.125em;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjE1MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 50%, #021526 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#207cca), color-stop(100%,#021526)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 50%,#021526 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#207cca 50%,#021526 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 50%,#021526 100%); /* IE10+ */
	background: linear-gradient (top bottom,  #1e5799 0%,#207cca 50%,#021526 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#021526',GradientType=0 ); /* IE6-8 */url("../images/FHP_Logo2-medium.jpg") no-repeat;
	background: url(../images/"FHP_Logo2-medium.jpg") no-repeat;
	height:6.875em;
}

header h1 {
	text-align: center;
	line-hieght: 1.5em;
	font: #FFF 'Arial Rounded MT bold', arial, helvetica;
}

.title_bar {
	width: 100%;
	margin: 0 auto;
	background: #074a7c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3NGE3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAyMTUyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #074a7c 0%, #021526 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#074a7c), color-stop(99%,#021526)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #074a7c 0%,#021526 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #074a7c 0%,#021526 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #074a7c 0%,#021526 99%); /* IE10+ */
background: linear-gradient(to bottom,  #074a7c 0%,#021526 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074a7c', endColorstr='#021526',GradientType=0 ); /* IE6-8 */
	border-bottom: 0.031em solid #5C7DF2;
}

.title_bar ul {
	width: 77.50em;
	margin: auto auto;
}

.title_bar li{
	margin: 0em 2.813em;
	display: inline;
	color: #FF0;
	list-style: url("images/FHP_Logo2_small.jpg");
}



/* -------------------------- End of HEADER  --------------------------*/


/* -------------------------- Start of NAVIGATION  --------------------------*/
nav {
	width: 60.00em;
	margin: 0.625em auto;
	padding: 0.313em 0.625em;
	background: #021526;
	overflow: hidden;
	border: 0.250em solid #5C7DF2;
	border-radius: 0.125em;
}

nav img {
	width: 0.938em;
	padding: 0.313em;
	border: 0.125em solid #FFF;
	border-radius: 0.125em;
}

nav ul {
	width: 90%;
	margin: 0.125em auto;
	background: #999;
	overflow: hidden;
	display: inline;
}

nav li {
	width: 17.750em;
	margin: 0 0.625em 0.625em 1.250em;
	background: #fff;
	float: left;
	border-radius: 0.125em;
}

nav img.upper {
	width: 17.500em;
	height: 6.000em;
	margin: 0 auto;
	background: #999;
	float: left;
	border-radius: 0.250em;
}

nav a {
	background: #021526;
	display: block;
	text-align: center;
}

.button {
	width: 17.500em;
	margin: 0 auto;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 0.250em; 
	-moz-border-radius: 0.250em;
	border-radius: 0.250em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.black {
	color: #d7d7d7;
	border: solid 0.125em #FFF;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

/*---------- Start of Link States ----------*/

Yellow = #FF0
Dark Gray = #999
Red = #F00
White = #FFF
Purple = 99F

nav a:link {
	color: #FFF;
	background: #F90;
}

nav a:visited {
	color: #CCC;
	background: #F90;
}

nav a:hover {
	color: #F2CE20;
	background: #C26A03;
	background-image: url('../images/orange_button_stripe.png'); 
	background-repeat: repeat-x;
}

nav a:active {
	color: #FC3;
	background: #F90;
}
/*---------- End of Link States ----------*/

/* -------------------------- End of NAVIGATION  --------------------------*/

/* -------------------------- Start of ASIDE  --------------------------*/
aside {
	margin: 0.625em auto;
	width: 60.00em;
	padding: 0.625em;
	background: #021526;
	overflow: hidden;
	border: 0.250em solid #5C7DF2;
	border-radius: 0.125em;
}
/* -------------------------- End of ASIDE  --------------------------*/

/* -------------------------- Start of SECTION  --------------------------*/
section {
	/*background: #BF3326;*/
}

/* -------------------------- End of SECTION  --------------------------*/

/* -------------------------- Start of ARTICLE --------------------------*/
article {
	margin: 0.125em;
	float: left;
	background: #FFF;
	padding: 0.625em;
}

/* -------------------------- End of ARTICLE  --------------------------*/

/* -------------------------- Start of FOOTER  --------------------------*/
footer {
	width: 100%;
	clear: both;
	border-bottom: 0.031em solid #5C7DF2;
	margin-top: 0.250em;
	background: #021526; /* Old browsers */
	background: #000888; /* Old browsers */
	background: #021526; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAyMTUyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjE1MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #021526 1%, #2989d8 50%, #207cca 51%, #021526 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#021526), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#021526)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #021526 1%,#2989d8 50%,#207cca 51%,#021526 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #021526 1%,#2989d8 50%,#207cca 51%,#021526 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #021526 1%,#2989d8 50%,#207cca 51%,#021526 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #021526 1%,#2989d8 50%,#207cca 51%,#021526 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#021526', endColorstr='#021526',GradientType=0 ); /* IE6-8 */
}

footer ul {
	clear: both;
	width: 30.00em;
	padding: 0.313em 0.625em;
	overflow: hidden;
	display: inline;
	outline: 0.125em solid red;
}

footer li {
	display: inline;
	background: #fff;
}

footer a {
	text-decoration: none;
}

footer p {
	text-align: center;
	color: #FF0;
}
/* -------------------------- End of FOOTER  --------------------------*/

/* -------------------------- TABLES  --------------------------*/
table {

}

th {

}

td {

}

/* -------------------------- TABLES  --------------------------*/

/* -------------------------- FORMS  --------------------------*/
form {
	background: #999;
	padding: 0.625em;
}

fieldset {
	background: #888;
	border: 0.125em solid #000;
	padding: 0.313em;
}

legend {
	/*border: 0.125em solid #000;*/
	padding: 0.313em;
}

label {
	margin: 0.313em ;
}


/* -------------------------- FORMS  --------------------------*/

/*  ======================Media Querries================  */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
	body {
		background-image: url("../images/metaltextures032.png");		
	}
	
	#wrapper {
		background: #FC3;
	}
	
	h2, h3, h4, h5, h6 {
		text-align: center;
		line-height: 1.3em;
	}
	
	header h1 {
		margin: 0em 0em 0em .1em;
		font-size: 2.125em;
	}
	
	header p {
		margin: 0em 0em 0em .4em;
	}
	
	nav li{
		width: 8.063em;
	}
	
	nav a {
		line-height: 1.3em;
	}
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrapper {
		background: #C39;
	}
	
	aside {
	display: none;
	}
	
	article {
		float: left;
		width: 95%;
		margin: 0.375em auto;
	}
	
	#mainSection {
		float: left;
		width: 95%;
		margin: 0.375em auto;
	}
	
	footer {
		/*width: 42.813em; */
		float: right;
	}
}

/* Mobile Portrait size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#wrapper {
		background: #0F0;
	}
	
	aside {
	display: none;
	}
	
	article {
		float: left;
		width: 95%;
		margin: 0.375em auto;
	}
	
	#mainSection {
		float: left;
		width: 95%;
		margin: 0.375em auto;
	}
	
	footer {
		/*width: 42.813em; */
		float: right;
	}